aws_region           = "eu-central-1"
project_name         = "personal-assistant"
s3_bucket_name       = "pa-kanyuka-info-frontend"
s3_data_bucket_name  = "pa-kanyuka-info-data"
subdomain            = "pa.kanyuka.info"
domain_zone          = "kanyuka.info"
lambda_zip_path      = "../backend/function.zip"
google_client_id     = "YOUR_GOOGLE_CLIENT_ID.apps.googleusercontent.com"
allowed_emails       = "your-email@gmail.com"
